body {
    background-color: #EEEBE5;
}

.wrapper {
    width: 700px;
    padding: 3em 0;
    margin: 0 auto;
}

.control {
    margin: 0;
}

.psw-strength {
    display: none;
    height: 5px;
    margin-top: 5px;
    transition: width .5s, color .5s;
    border-radius: 5px;
}

.valid {
    border: 1.5px solid #3f8514 !important;
}

.valid-icon:after {
    content: "\f14a" !important;
    color: #3f8514 !important;
    margin-left: .6em;
    font-family: FontAwesome;
    font-size: .75em;
    width: 1.25em;
}

.error {
    border: 1.5px solid #b10f0f !important;
}